.jcarousel-wrapper {
    margin: 0 auto 20px;
    position: relative;
}
/** Carousel **/
.jcarousel {
    position: relative;
    width: 100%;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page .jcarousel li {
    width: 150px;
    float: left;
    margin:0px 15px;
}
.jcarousel li {
    float: left;
    margin:0px 15.3px;
}
.jcarousel img {
    display: block;
    width: 100%;
    /* border-top-left-radius: 25px; */ 
    /* border-bottom-right-radius: 25px; */
}
/** Carousel Controls **/
.jcarousel-control-prev {
    left: 15px;
    font-size:0px; color:#f2f0f3;
}
.jcarousel-control-next {
    right: 15px;
    font-size:0px; color:#f2f0f3;
}
.jcarousel-prev, .jcarousel-next{margin-top: -146px; width:40px; height:40px; cursor: pointer;background-color: #F0F0F0!important;color: #fff;border-radius: 50%;padding: 10px 15px;z-index: 9999;overflow: hidden;}
.jcarousel-prev{float:left;  background:url(../images/prev-btn.png) no-repeat; margin-left:-20px;}
.jcarousel-next{float:right; background:url(../images/next-btn.png) no-repeat; margin-right:-10px; }
/** Carousel Pagination **/
.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
.jcarousel-clip-horizontal{margin:0px 30px; clear:both;}
.cara_members_age span {
    margin-top: -26px;
    position: absolute;
    float: right;
    background-color: #5CB8E7;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 0.8rem;
    right: 0px;
}
#widget_lavish_date_members_carousel-4 {
    margin-bottom:0px;
}